body {
    font-family: "Italiana", sans-serif;
  font-weight: 400;
  font-style: normal;
    text-align: center;
}

header {
    background-color: #D1F69F;
    padding: 15px;
    margin: 30px;
}

nav a {
    background-color: #D1F69F;
    padding: 15px;
    margin-top: 30px;
    margin-bottom: 30px;
    text-decoration: none;
    color: black;
}

h1 {
    background-color: #D1F69F;
    padding: 10px;

}

h1 img {
    width: 15%;
}
